{% extends 'base.html' %}
{% block content %}

    <div class="jumbotron">
        <h1 class="display-4 text-center">Welcome To Crypto News Network !!</h1>
        <hr class="my-4">
        <p class="lead text-center">Your Source For Up To The Minute Crypto Cureeency And Blockchain News</p>
    </div>

<br/>

    <table class="table table-striped table-dark table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">24hr High</th>
      <th scope="col">24hr Low</th>
      <th scope="col">Market Cap</th>
    </tr>
  </thead>
  <tbody>
  {% for key,value in price.DISPLAY.items %}
    <tr>
      <td>{{ key }}</td>
      <td>{{ value.USD.PRICE }}</td>
      <td>{{ value.USD.HIGH24HOUR }}</td>
      <td>{{ value.USD.LOW24HOUR }}</td>
      <td>{{ value.USD.MKTCAP }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<br/>
<br/>

  

    <div class="container">
        <div class="row">
        {% for x in api.Data %}
            <div class="col-sm">
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ x.imageurl }}" alt="{{ x.source }}">
            <div class="card-body">
                <h5 class="card-title">{{ x.title }}</h5>
                <p class="card-text">{{ x.body }}</p>
                <a href="{{ x.url }}" class="btn btn-secondary">Read More...</a>
            </div>
            </div>
            <br/>
            <br/>
            </div>
        {% endfor %}    
        </div>
    </div>

    {{ api.Data }}
{% endblock content %} 